---
    name: "release"
    on:
      push:
        tags:
          - v*
          
      workflow_dispatch:
        inputs:
          logLevel:
            description: 'Log level'     
            required: true
            default: 'warning'
    
    jobs:
      flutter-build-android:
        name: "Release for android"
        runs-on: "ubuntu-latest" 
        permissions: write-all
        steps:
          - name: Clone repository
            uses: actions/checkout@v4
          - name: Extract tag name
            run: echo "tag=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV
            shell: bash
          - name: Echo build progress
            run: echo "Reporter_android_${{ env.tag }}.apk build progress"
            shell: bash
          - name: Install dependencies
            run: |
              sudo apt-get update
              sudo apt-get install -y clang cmake libgtk-3-dev ninja-build libayatana-appindicator3-dev libasound2-dev
            shell: bash
          - name: Set up JDK 17
            uses: actions/setup-java@v4
            with:
              java-version: '17'
              distribution: 'temurin'        
          - name: Fix flutter SDK folder permission
            run: git config --global --add safe.directory /tmp/flutter/--
          - name: Set up Flutter
            uses: subosito/flutter-action@v2
            with:
              
              flutter-version: '3.29.2'
          - name: Verify Flutter environment
            run: flutter doctor
          - name: Get Flutter dependencies
            run: flutter pub get
            shell: bash
          - name: Build Flutter for Android
            run: flutter build apk --split-per-abi
            shell: bash
          - name: Package android build output
            run: cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk Reporter_android_${env:tag}.apk
            shell: bash
          - name: Upload android outputs
            uses: actions/upload-artifact@v4
            with:
              name: android_outputs
              path: Reporter_android_*.apk

      flutter-build-ios:
        name: "Release for iOS"
        runs-on: "macos-latest"
        permissions: write-all

        steps:
          - name: Clone repository
            uses: actions/checkout@v4
          - name: Extract tag name
            run: echo "tag=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV
          - name: Echo build progress
            run: echo "Reporter_ios_${{ env.tag }}.ipa build progress"
          - name: Fix flutter SDK folder permission
            run: git config --global --add safe.directory /tmp/flutter/--
          - name: Set up Flutter
            uses: subosito/flutter-action@v2
            with:
              
              flutter-version: '3.29.2'
          - name: Verify Flutter environment
            run: flutter doctor
          - run: flutter pub get
          - name: Build IPA
            run: |
              flutter build ios --release --no-codesign || exit 1
              
              if [ ! -d "build/ios/iphoneos/Runner.app" ]; then
                echo "âŒ Error: Runner.app not found after build!"
                exit 1
              fi
          
          - name: Create IPA
            run: |
              mkdir -p Payload
              cp -R build/ios/iphoneos/Runner.app Payload/
              zip -q -r Reporter_ios_${tag}_no_sign.ipa Payload
              rm -rf Payload
          - name: Upload iOS build
            uses: actions/upload-artifact@v4
            with:
              name: ios_outputs
              path: Reporter_ios_*.ipa

      release:
        name: "Release"
        runs-on: "ubuntu-latest"
        needs: [flutter-build-android] 
        permissions: write-all
        steps:
          - name: Clone repository
            uses: actions/checkout@v4
          - name: Extract tag name
            run: echo "tag=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV
            shell: bash
          - name: Set up JDK 17
            uses: actions/setup-java@v4
            with:
              java-version: '17'
              distribution: 'temurin'          
          - name: Setup Android SDK
            uses: android-actions/setup-android@v3
          - name: Setup Android build tools
            run: sdkmanager "build-tools;34.0.0"
          - name: Download android build file
            uses: actions/download-artifact@v4
            with:
              name: android_outputs
              path: android_outputs 
          - name: List files in android_outputs directory
            run: ls -l android_outputs   
          - name: Copy android build file to unsigned floder
            run: | 
              mkdir build
              mkdir build/unsigned
              mkdir build/signed
              cp android_outputs/* build/unsigned/Reporter_android_${{ env.tag }}.apk

          - name: Download iOS build file
            uses: actions/download-artifact@v4
            with:
              name: ios_outputs
              path: ios_outputs  
          - name: List files in ios_outputs directory
            run: ls -l ios_outputs   
          - name: Copy ios build file to root
            run: cp ios_outputs/* Reporter_ios_${{ env.tag }}_no_sign.ipa

          - name: Create release
            uses: softprops/action-gh-release@v2
            with:
              files: |
                Reporter_android_*.apk
                Reporter_ios_*.ipa
